.dot {
  /* left: -10px; */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1px;
}
.dotText {
  position: relative;
  right: 1px;
  color: black;
}
#morning > .dotText {
  position: relative;
  right: 2px;
}
#morning {
  background-color: #44ff82;
}
#afternoon {
  background-color: #f884de;
}
#night {
  background-color: #fa9f44;
}
#leave {
  background-color: #e46477;
}

.thead-table {
  text-align: center;
}
.td-data {
  text-align: center;
}

.imgUser > img {
  height: 75px;
  width: 75px;
  left: 20px;
  position: relative;
}

.Component {
  position: relative;
  z-index: 1;
}

.navbar {
  background-color: white;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  /* left: 250px; */
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.menu-bars {
  font-size: 3rem;
  padding: 8px;
  /* margin: 5px; */
}
.menu-bars:hover {
  background-color: #e5e5e5;
  border: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.nav-menu {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 400ms;
}

.nav-menu.active {
  left: 0;
  transition: 250ms;
}

.nav-menu-items {
  background-color: #1d8348;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.navbar-toggle {
  width: 100%;
  height: 60px;
  right: 20px;
  top: 5px;
  position: relative;
  color: white;
}

.nav-menu-items {
  width: 100%;
}

.icon-menu {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.nav-text {
  color: white;
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 30px;
  /* list-style: none; */
  height: 60px;
  margin-left: -40px;
}

.nav-text:hover {
  border-radius: 5%;
  background-color: #30c06d;
}

.nav-text a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

#button-icon {
  margin-right: 5px;
}

#modal {
  width: 80vw;
  max-width: 80vw;
}

.table-column {
  width: 200px;
}
